
.cardSpacing {
    margin-bottom: 60px;
}

.containerPadding {
    padding-top: 30px;
    padding-bottom: 110px;
}

.btn-md:hover {
    background-color: rgb(4, 10, 45);
}

img {
    margin-bottom: -6px;
}

h6 {
    font-weight: 300;
    font-size: small;
}

h5 {
    color: rgba(58, 45, 14, 0.563);
    font-size: 1rem;
    font-weight: 900;
    font-style: oblique;
}

.legendCard {
    height: 270px;
}